.footer {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  overflow-x: hidden;
  padding: 10px 20px;
  border-top: 2px solid rgba(178, 178, 178, 0.307);
  width: 87.5%;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
}
