.moving-logo-containers {
  overflow: hidden;
  white-space: nowrap;
  width: 15%;
  height: 50px;
}

.moving-text {
  display: inline-block;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(40%);
  }
  to {
    transform: translateX(0%);
  }
}
