.scroll-container {
  text-align: center;
  margin-top: 0px;
  color: rgb(194, 194, 194);
}

.scroll {
  color: inherit;
  text-decoration: none;
  font-size: 50px;
  padding: 60px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.scroll.appear {
  color: inherit;
  text-decoration: none;
  opacity: 1;
}

.scroll-font {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  margin-top: 125px;
  width: 90%;
  padding-bottom: 50px;
  color: rgb(194, 194, 194);
}

.scroll-line {
  border-bottom: 2px solid rgba(178, 178, 178, 0.307);
}
